 *{
        padding:0;
        margin:0;
        box-sizing: border-box;
         }

body{
    background-color: rgb(171, 185, 199);
}     
#container{
    width:60%;
    height: 80vh;
    background-color: #fff;
    border-radius: 2rem;
    border: 2px solid black;
    margin: 5% auto;
    text-align: center;
    padding: 2rem;
    box-shadow:3px 3px 3px 3px black;
}
.logo{
    
    width: 7rem;
    height: 7rem;
}

h1{
color:rgb(32, 51, 227);
}

.welcome-note{
    margin:0.5rem;
}

#welcome-note{
    font-size: large;
    font-weight: bold;
}
#name-input{
    margin:0.5rem;
    width:60%;
    height:2rem;
}
.name-button{
    width:20%;
    font-size: large;
    height: 2rem;
    background-color:rgb(0, 208, 255);
}
.note,.category-heading{
margin:0.5rem;
}
.category-button{
    height: 2rem;
    width: 30%;
    margin: 1rem 3rem;
    background-color:  rgb(0, 208, 255);

    font-size: larger;
}

.container{
    display: flex;
    justify-content: space-between;
}

#question-container{
    width:75%;
    height:15vh;
    border:4px solid grey;
    margin: 4rem auto;
    color: black;
    padding: 2rem;
    font-size: large;
}
#question-count{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid grey;
    position: absolute;
    left:48%;
    top:27vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.score-container h1{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.score-container{
    font-weight: bold;
    font-size: larger;

    
}
.score-container p{
    font-size: large;
}

#next {
    height:2.5rem;
    width: 50% ;
    border-radius:15px;
    font-weight: bold;
      background-color:yellow;
}
#restart{
    width:20%;
    height: 2rem;
    background-color: rgb(0, 208, 255) ;
    font-weight: bold;
    border-radius: 10px;
}

/* hide default radio */
.radio-input {
    display: none;
}

/* button style */

#option-container{

     display:grid;
    grid-template-columns: repeat(2, 20rem); 
    gap:15px;
align-items: center;
margin-left: 8rem;
    
}
.radio-btn {
    display: block;
    width:15rem;
    height: fit-content;
  
    
    padding: 12px 16px;
    
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: #fff;
}

/* hover effect */
.radio-btn:hover {
    background-color: #f4eeeee0;
}


/* correct & wrong states */
.radio-btn .correct {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.radio-btn .wrong {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}
.userName{
    color: black;
}

#timer,#score{
    background-color: skyblue;

    font-weight: bold;
}
#end{
    background-color:skyblue;
    width:max-content;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20rem;
}